# Created by https://www.gitignore.io/api/rails

### Rails ###
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/spec/tmp
/config/database.yml
tags

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# Ignore environment settings
.env
.powenv

# Ignore Byebug command history file.
.byebug_history

# DS_Store ignore
.DS_Store
